$form-input-number-control-width:                                30px !default;
$form-input-number-control-font-size:                            14px !default;

/*
 * 1. Container width fits its content
 * 2. Create position context
 * 3. Prevent `inline-block` consequences
 */
.uk-form-input-number {
  /* 1 */
  display: inline-block;
  /* 2 */
  position: relative;
  /* 3 */
  max-width: 100%;
}
.uk-form-input-number > [class*='uk-form-input-number-'] {
  position: absolute;
  top: 50%;
  width: $form-input-number-control-font-size;
  margin-top: -7px;
  font-size: $form-input-number-control-font-size;
  text-align: center;
  display: inline-block;
  line-height: 1;
}
.uk-form-input-number > input {
  padding-left: $form-input-number-control-width !important;
  padding-right: $form-input-number-control-width !important;
}
.uk-form-input-number > .uk-form-input-number-decrement {
  left: 0;
}
.uk-form-input-number > .uk-form-input-number-increment {
  right: 0;
}
